@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Tilt+Warp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap');

body {
  background: #BB8A89;
  margin: 0;
  color: white;
}

label {
  font-weight: bold;  
}

div {
  border-radius: 10px;
  margin: 30px;
  display: flex;
  flex-direction: row;
  background-color: #977390;
  border: 7px double white;
}

input[type="text"] {
  padding: 5px;
  width: 150px;
}

p {
  margin: 70px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: #D9DBF1;
  border: 10px solid white;
  color: #AA336A;
}