article {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 1200px;
    height: 620px;
    z-index: -1;
}

.building {
    display: flex;
    justify-content: center;
}

.building img{
    width: 100%;
    height: auto;
    text-align: center;
}

/*Rooms*/

.room1 {
    width: 120px;
    position: absolute;
    top: 170px;
    left: 550px;
    z-index: -1;
}

.room2 {
    width: 120px;
    position: absolute;
    top: 170px;
    left: 670px;
    z-index: -1;
}

.room3 {
    width: 120px;
    position: absolute;
    top: 170px;
    left: 800px;
    z-index: -1;
}

.room4 {
    width: 120px;
    position: absolute;
    top: 290px;
    left: 550px;
    z-index: -1;
}

.room5 {
    width: 120px;
    position: absolute;
    top: 290px;
    left: 800px;
    z-index: -1;
}

 /*Boxes*/

.box1 {
    position: absolute;
    top: 170px;
    left: 550px;
    width: 120px;
    height: 120px;
}

.box2 {
    position: absolute;
    top: 170px;
    left: 670px;
    width: 120px;
    height: 120px;
}

.box3 {
    position: absolute;
    top: 170px;
    left: 800px;
    width: 120px;
    height: 120px;
}

.box4 {
    position: absolute;
    top: 290px;
    left: 550px;
    width: 120px;
    height: 120px;
}

.box5 {
    position: absolute;
    top: 290px;
    left: 800px;
    width: 120px;
    height: 120px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 99; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 75%;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

.out {
    animation-name: zoom-out;
    animation-duration: 0.6s;
  }

  @media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

/* Animations */
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(1)}
    to {-webkit-transform:scale(2)}
}
 
@keyframes zoom {
    from {transform:scale(0.4)}
    to {transform:scale(1)}
}


@-webkit-keyframes zoom-out {
    from {transform:scale(1)}
    to {transform:scale(0)}
}
@keyframes zoom-out {
    from {transform:scale(1)}
    to {transform:scale(0)}
}