body{
    background-color: olive;
}


#flex-parent{
    display:flex;
    flex-wrap: nowrap;
    background-color: orangered;
}
#flex-parent p{
    padding:5vw;
}

.grid-parent{
    display:grid;
    grid-template-columns: auto auto auto;
    background-color: grey;
    padding:3vw 5vh;
    margin:5vw;
    padding: 10px
    
}

.no {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}